@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
		<h1>@ViewBag.Title</h1>
        <h2>@ViewBag.SubTitle</h2>
        <p>@ViewBag.Text</p>
    </div>

	@if (ViewBag.Authors.Length > 0)
	{
		<h5>Authors: </h5>
	    <div>
	        <ul>
				@foreach (var author in ViewBag.Authors)
				{
	                <li>@author</li>
				}
	        </ul>
		</div>
	}
</body>
</html>

